#!/bin/sh
set -a
NAMESPACE=molecule-alpha-nightly
REGISTRY=540682145059.dkr.ecr.us-west-2.amazonaws.com
BRANCH_NAME=nightly
TAG=$BRANCH_NAME
DATE=$(date +'%s')
CI_BUILD_REF_NAME=nightly
IMAGE=$REGISTRY/linumlabs/molecule-alpha/build/nix-build-env:latest
set +a
